[Unit]
Description=sample service for lab1.
Requires=network.target
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Environment="PORT={{app_port}}"
ExecStart=java -jar "{{ app_dir }}/{{ app_file }}"
User=zavad4
Restart=always
RestartSec=60